.developer{
    width: 100%;
    &-container{
        max-width: 1372px;
        min-height: 534px;
        background: #141527;
    }
    &-content{
        max-width: 1082px;
        margin:auto;
        min-height: 446px;
        display: flex;
       // border:1px solid red;
        padding-top:40px;
        

    }
    &__blockLeft{
        max-width: 428px;
     // border:1px solid red;
    }
    &__bar{
        margin-bottom: 30px;
    }
    &__title{
        margin-bottom: 96px;
    }
    &__text{
        font-size: 16px;
        line-height: 123%;
        color: #FFFFFF;
       
        max-width: 343px;
        
        
        &--white{
            display: block;
            
            
        }
        &--blur{
            opacity: 0.5;
        }
    }
    &__button{
        width: 202px;
        height: 44px;
         display: flex;
         justify-content: center;
         align-items: center;
         background: white;
         font-weight: 600;
         font-size: 14px;
         line-height: 20px;         
         color: #141527;
         margin-top: 142px;
    }

    &__blockRight{
        width: 546px;
        //border:1px solid blue;
        margin-left: 100px;
        padding-top: 90px;
    }
    &__contents{
        width: 100%;
        height: 301px;
        //border:1px solid red;
        position: relative;
        
        
    }
    &__list{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
    }
    &__listItem{
        font-size: 14px;    
        color: #FFFFFF;
        cursor: pointer;
        &--active{
            text-decoration: underline;
        }
        
        
       
    }
    &__listItem:not(:last-child){
        margin-right: 20px;
    }
    &__content{
        position: absolute;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 300ms;
        &-title{
            text-align: center;
            margin-top: 10px;
            color:#FFFFFF;
            font-size: 30px;
        }
        &:nth-child(1){
            background: pink;
        }
        &:nth-child(2){
            background: red;
        }
        &:nth-child(3){
            background: blue;
        }
        &:nth-child(4){
            background: black;
        }
        &--active{
           visibility: visible;
           height: 100%;
           opacity: 1;
        }

        
    }

    

}